@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}

#wrapper{
    margin: 0 auto;
}
header{
    width: 100%;
    height: 155px;
}



nav{
    width: 100%;
    height: 45px;
}
#middleWrapper{
    width: 1820px;
    margin: 0 auto;

}
aside{
    width: 230px;
    padding: 10px;
    clear: both;
    float: left;
}
#asideTitle{
    padding-top: 100px;
    padding-bottom: 20px;
}
#asideTitle>p{
    font-size: 2rem;
    font-weight: bolder;
}
#asideMenu li{
    margin: 10px 0;
}
#asideMenu a{
    font-weight: bold;
}


section{
	width: 1360px;
	padding: 20px;
	float: left;
}
#sectionWrap{
	width: 100%;
	height: 500px;
}
#titlePanel{
	width: 100%;
}
#titlePanel>h1{
	padding: 30px;
}

#orderPanel{
	padding: 30px;
}
#orderPanel>p{
	font-size: 1.5rem;
	font-style: italic;
}




footer{
    width: 100%;
    height: 145px;
    clear: both;
}