@charset "UTF-8";

* {
	text-decoration:none;
	list-style:none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: '맑은고딕';
}

#container {
	height:1500px;
}

#contents {
	width: 100%;
	height: 70%;
}

#contents_box{
	width: 80%;
	height: 100%;
	float: left;
}
#pageTitle {
	width: 100%;
	height: 100px;
	font-weight:bold;
	font-size:30px;
	line-height:100px;
}


.basicTitle {
	width: 150px;
	height: 40px;
	background-color: #A978FE;
	border-radius: 5px;
	text-align: center;
	line-height: 40px;
	color: white;
}

table {
	padding: 30px 20px;
	border: 1px solid #969DAA;
}

th, td {
	padding: 10px 15px;
	border: 1px solid #969DAA;
}

th {
	width: 190px;
	height: 53px;
	background-color: #F3F3F3;
}

td {
	width: 580px;
}

.searchBtn {
	margin-top: 20px;
	margin-bottom: 30px;
	width: 120px;
	height: 40px;
	background-color: white;
	color: #A978FE;
	font-weight: bold;
	font-size: 17px;
	border: 1px solid #A978FE;
}

.searchBtn:hover {
	background-color: #A978FE;
	color: white;
}

#submit {
	margin-left: 645px;
}

#checkboxAll {
	padding: 0px;
}

.checkboxse {
	width: 20px;
	height: 20px;
}

.productImg {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	text-align: center;
	padding: 0px;
	display: inline;
	float: left;
	margin-right: 10px;
}

.productName {
	text-decoration: none;
	color: black;
}

.productListBtn {
	width: 65px;
	height: 30px;
	background-color: white;
	color: #A978FE;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #A978FE;
}

.productListBtn:hover {
	background-color: #A978FE;
	color: white;
}