@charset "UTF-8";
	*{
		padding:0; 
		margin:0;
		box-sizing:border-box;
		list-style:none;
	}
	a{
    	text-decoration:none; 
    	color:black;   	
    }
	#wrapper{
		margin : 0px;		
		padding: 0px;
	}
	#header{
		width:100%;
		height:145px;
	}
	#navigator{
		width:100%;
		height:55px;
	}
	#footer{
		width:100%;
		height:145px;
		text-align:center;
	}
	#contents{
		margin: 0 auto;
		width:1360px;
	}
	#title{
		width:100%;
		color:#A978FE;
		font-size:40px;
		text-align:center;
		line-height:140px;
	}
	#category{
		width:100%;
		text-align:center;
		text-decoration:none;
		color:black;
		padding-bottom:70px;
	}
	#board{
		width:100%;	
		padding-bottom:30px;	
	}
	table{
		width:90%;
		margin:0 auto;
		border:1px solid lightgrey;
		border-collapse:collapse;
	}
	th,td{
		border:1px solid lightgrey;
		border-collapse:collapse;
		height:30px;
	}
	#product-img{
		width:200px;
	}
	#product-img>img{
		width:200px;
	}
	#qna-bottom{
		margin: 0 auto;
		width:1360px;
		margin-bottom:150px;
	}
	#search{
		width:70%;
		height:30px;
		padding-left:80px;
		float:left;
	}
	#search>select{
	 	float:left;
	 	height:100%;
	}
	#search>form{
		height:100%;
		padding-left:10px;
		float:left;
	}
	#search>form>input[type="text"]{
		height:30px;
		float:left;
	}
	#search>form>input[type="submit"]{
		width:50px;
		height:30px;
		float:left;
		cursor:pointer;
	}
	#qna-write{
		width:30%;
		float:left;
		text-align:right;
		padding-right:80px;
	}
	#qna-write>button{
		width:60px;
		height:30px;
		background-color:#A978FE;
		border:0px;
		border-radius:5px;
		color:white;
		cursor:pointer;
	}
	
	