@charset "UTF-8";
*{
	font-family:'Cafe24Oneprettynight';
}
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
header {
	height: 100px;
}

header>div {
	float: left;
}

#main-logo {
	width: 20%;
	height: 100%;
}

#pageMoveBtn {
	width: 80%;
	height: 100%;
	line-height: 145px;
	text-align: right;
	padding-right:50px;
}

#pageMoveBtn>a {
	font-size:20px;
	color: black;
	margin-right: 20px;
}