div {
	box-sizing: border-box;
	margin: 0px auto;
}

* {
	margin: 0px;
	padding: 0px;
}

#content {
	width: 1820px;
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
}

.title {
	margin-left: 60px;
	font-size: 30px;
}

#hotBox {
	width: 100%;
	height: 350px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

.h_box {
	width: 25%;
	height: 100%;
	margin-top: 10px;
	float: left;
}

.hotImg_box {
	padding-top: 10px;
	width: 100%;
	height: 70%;
}

.hotText {
	width: 100%;
	height: 30%;
	font-size: 18px;
}

.h_img {
	width: 70%;
	height: 90%;
	margin-top: 20px;
	border-radius: 10px;
}